{% comment %}
Copyright 2008 Patrick Fairbank. All Rights Reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions
are met:
1. Redistributions of source code must retain the above copyright
   notice, this list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in the
   documentation and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE AUTHOR "AS IS" AND ANY EXPRESS OR IMPLIED
WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
{% endcomment %}

<!doctype html>

<head>
  <title>FRCLinks Usage Instructions</title>
  <style>
    body {
      text-align: center;
    }

    form {
      border-radius: 5px;
      background-color: #def;
      display: inline-block;
      max-width:80%;
      padding: 0.75rem 0;
    }

    input[type="text"] {
      width: 35em;
      max-width:80%;
      height: 1.8em;
      border-radius: 3px;
      font-size: 1.1em;
    }

    input[type="submit"] {
      height: 2em;
      border-radius: 3px;
      font-size: 1.1em;
    }

    table {
      margin: 0 auto 4em auto;
      text-align: left;
      line-height: 1.4em;
    }

    tr:nth-child(2n) {
      background: #def;
    }

    th {
      padding-bottom: 1em;
    }

    th, td {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }

    #commands td:nth-child(1), #commands td:nth-child(2) {
      font-weight: bold;
    }

    #commands td:nth-child(3) {
      font-style: italic;
    }

    #eventcodes td:nth-child(3n) {
      padding-right: 2em;
    }
  </style>
</head>

<body>
  <form onsubmit="window.location = this.url.value; return false;" action="GET">
    <input type="text" name="url" />
    <input type="submit" value="Go" />
  </form>

  <p>Usage instructions: <b>frclinks.com</b> +
  <table id="commands">
    <tr>
      <th>Command</th>
      <th>Short form</th>
      <th>Operand(s)</th>
      <th>Go to the...</th>
    </tr>
    <tr>
      <td>/team</td>
      <td>/t</td>
      <td></td>
      <td>List of all registered FRC teams.</td>
    </tr>
    <tr>
      <td>/team/</td>
      <td>/t/</td>
      <td>team number</td>
      <td>FIRST information page for the given team.</td>
    </tr>
    <tr>
      <td>/team/</td>
      <td>/t/</td>
      <td>area id/[year]</td>
      <td>Team list for the given area ID (e.g. CA-USA, ON-Canada).</td>
    </tr>
    <tr>
      <td>/website/</td>
      <td>/w/</td>
      <td>team number</td>
      <td>Website of the given team.</td>
    </tr>
    <tr>
      <td>/tba/</td>
      <td>/tba/</td>
      <td>team number</td>
      <td>Blue Alliance page for the given team.</td>
    </tr>
    <tr>
      <td>/cdm/</td>
      <td></td>
      <td>team number</td>
      <td>Chief Delphi Media page for photos tagged with the given team.</td>
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr>
      <td>/event/</td>
      <td>/e/</td>
      <td>event id/[year]</td>
      <td>Team list for the given event ID (see below for codes).</td>
    </tr>
    <tr>
      <td>/event/schedule/</td>
      <td>/e/s/</td>
      <td>event id/[year]</td>
      <td>Qualification match schedule for the given event ID
          (see below for codes).</td>
    </tr>
    <tr>
      <td>/event/matchresults/</td>
      <td>/e/m/</td>
      <td>event id/[year]</td>
      <td>Qualification match results for the given event ID
          (see below for codes).</td>
    </tr>
    <tr>
      <td>/event/rankings/</td>
      <td>/e/r/</td>
      <td>event id/[year]</td>
      <td>Rankings for the given event ID (see below for codes).</td>
    </tr>
    <tr>
      <td>/event/awards/</td>
      <td>/e/a/</td>
      <td>event id/[year]</td>
      <td>Awards for the given event ID (see below for codes).</td>
    </tr>
    <tr>
      <td>/event/agenda/</td>
      <td>/e/g/</td>
      <td>event id/[year]</td>
      <td>Agenda for the given event ID (see below for codes).</td>
    </tr>
    <tr>
      <td>/event/tba/</td>
      <td>/e/tba/</td>
      <td>event id/[year]</td>
      <td>Blue Alliance page for the given event ID (see below for codes).</td>
    </tr>
    <tr>
      <td>/championship</td>
      <td>/c</td>
      <td>/[year]</td>
      <td>Championship Event page.</td>
    </tr>
    <tr>
      <td>/regionals</td>
      <td>/r</td>
      <td>/[year]</td>
      <td>Regional Events page.</td>
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr>
      <td>/controlsystem</td>
      <td>/cs</td>
      <td></td>
      <td>2009-present Control System page.</td>
    </tr>
    <tr>
      <td>/documents</td>
      <td>/d</td>
      <td>/[year]</td>
      <td>Competition Manual page.</td>
    </tr>
    <tr>
      <td></td>
      <td>/d/i</td>
      <td></td>
      <td><b>I</b>ntroduction</td>
    </tr>
    <tr>
      <td></td>
      <td>/d/a</td>
      <td></td>
      <td><b>A</b>rena</td>
    </tr>
    <tr>
      <td></td>
      <td>/d/g</td>
      <td></td>
      <td><b>G</b>ame</td>
    </tr>
    <tr>
      <td></td>
      <td>/d/r</td>
      <td></td>
      <td><b>R</b>obot, or,</td>
    </tr>
    <tr>
      <td></td>
      <td>/d/t</td>
      <td></td>
      <td><b>T</b>ournament section of the Competition Manual.</td>
    </tr>
    <tr>
      <td>/kitofparts</td>
      <td>/k</td>
      <td></td>
      <td>Kit of Parts page.</td>
    </tr>
    <tr>
      <td>/updates</td>
      <td>/u</td>
      <td></td>
      <td>Team Updates page.</td>
    </tr>
    <tr>
      <td>/blog</td>
      <td>/b</td>
      <td></td>
      <td>Bill's Blog.</td>
    </tr>
    <tr>
      <td>/forums</td>
      <td>/f</td>
      <td></td>
      <td>FIRST forums.</td>
    </tr>
    <tr>
      <td>/qa</td>
      <td>/q</td>
      <td></td>
      <td>Q&amp;A forum.</td>
    </tr>
    <tr>
      <td>/news</td>
      <td>/n</td>
      <td></td>
      <td>FRC news page. </td>
    </tr>
    <tr>
      <td>/tims</td>
      <td></td>
      <td></td>
      <td>FRC TIMS login page. </td>
    </tr>
    <tr>
      <td>/stims</td>
      <td></td>
      <td></td>
      <td>STIMS login page. </td>
    </tr>
    <tr>
      <td>/vims</td>
      <td></td>
      <td></td>
      <td>VIMS login page. </td>
    </tr>
    <tr>
      <td>/kickoff</td>
      <td>/ko</td>
      <td></td>
      <td>FRC Kickoff page.</td>
    </tr>
    <tr>
      <td>/youtube</td>
      <td>/y</td>
      <td></td>
      <td>FRC YouTube channel. </td>
    </tr>
  </table>

  <p><b>FIRST Event Codes</b></p>
  <table id="eventcodes">
    <tr>
      <th>Current</th>
      <th>Pre-2013</th>
      <th></th>
      <th>Current</th>
      <th>Pre-2013</th>
      <th></th>
    </tr>
    {% for row in events %}
    <tr>
      <td>{{ row.0 }}</td>
      <td>{{ row.1 }}</td>
      <td>{{ row.2 }}</td>
      <td>{{ row.3 }}</td>
      <td>{{ row.4 }}</td>
      <td>{{ row.5 }}</td>
    </tr>
    {% endfor %}
  </table>

  <p><a href="mailto:admin@frclinks.com">Contact the webmaster</a></p>

</body>
