{% comment %}
Copyright 2008 Patrick Fairbank. All Rights Reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions
are met:
1. Redistributions of source code must retain the above copyright
   notice, this list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in the
   documentation and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE AUTHOR "AS IS" AND ANY EXPRESS OR IMPLIED
WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
{% endcomment %}<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Usage Instructions</title>
    <style type="text/css"> 
      td, th {
        text-align: left;
        padding: 1px 10px;
      }
    </style>
  </head>
  <body>
    <form onsubmit='window.location = this.url.value; return false;' action='GET'>
      <div>
        <input type='text' name='url' />
        <input type='submit' value='Go' />
      </div>
    </form>
    <p>Usage instructions: <b>frclinks.com</b> +</p>
    <table>
      <tr>
        <th><p>Command</p></th>
        <th><p>Short form</p></th>
        <th><p>Operand(s)</p></th>
        <th><p>Go to the...</p></th>
      </tr>
      <tr>
        <td><b>/team</b></td>
        <td><b>/t</b></td>
        <td>&nbsp;</td>
        <td>list of all registered FRC teams.</td>
      </tr>
      <tr>
        <td><b>/team/</b></td>
        <td><b>/t/</b></td>
        <td><i>team number</i></td>
        <td>FIRST information page for the given team.</td>
      </tr>
      <tr>
        <td><b>/team/</b></td>
        <td><b>/t/</b></td>
        <td><i>area id/[year]</i></td>
        <td>team list for the given area ID (e.g. CA-USA, ON-Canada).</td>
      </tr>
      <tr>
        <td><b>/website/</b></td>
        <td><b>/w/</b></td>
        <td><i>team number</i></td>
        <td>website of the given team.</td>
      </tr>
      <tr>
        <td><b>/tba/</b></td>
        <td><b>/tba/</b></td>
        <td><i>team number</i></td>
        <td>Blue Alliance page for the given team.</td>
      </tr>
      <tr>
        <td><b>/cdm/</b></td>
        <td><b>/cdm/</b></td>
        <td><i>team number</i></td>
        <td>Chief Delphi Media page for photos tagged with the given team.</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><b>/event/</b></td>
        <td><b>/e/</b></td>
        <td><i>event id/[year]</i></td>
        <td>team list for the given event ID (see below for codes).</td>
      </tr>
      <tr>
        <td><b>/event/schedule/</b></td>
        <td><b>/e/s/</b></td>
        <td><i>event id/[year]</i></td>
        <td>qualification match schedule for the given event ID (see below for codes).</td>
      </tr>
      <tr>
        <td><b>/event/matchresults/</b></td>
        <td><b>/e/m/</b></td>
        <td><i>event id/[year]</i></td>
        <td>qualification match results for the given event ID (see below for codes).</td>
      </tr>
      <tr>
        <td><b>/event/rankings/</b></td>
        <td><b>/e/r/</b></td>
        <td><i>event id/[year]</i></td>
        <td>rankings for the given event ID (see below for codes).</td>
      </tr>
      <tr>
        <td><b>/event/awards/</b></td>
        <td><b>/e/a/</b></td>
        <td><i>event id/[year]</i></td>
        <td>awards for the given event ID (see below for codes).</td>
      </tr>
      <tr>
        <td><b>/event/tba/</b></td>
        <td><b>/e/tba/</b></td>
        <td><i>event id/[year]</i></td>
        <td>Blue Alliance page for the given event ID (see below for codes).</td>
      </tr>
      <tr>
        <td><b>/championship</b></td>
        <td><b>/c</b></td>
        <td><i>/[year]</i></td>
        <td>Championship Event page.</td>
      </tr>
      <tr>
        <td><b>/regionals</b></td>
        <td><b>/r</b></td>
        <td><i>/[year]</i></td>
        <td>Regional Events page.</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><b>/controlsystem</b></td>
        <td><b>/cs</b></td>
        <td>&nbsp;</td>
        <td>2009-present Control System page.</td>
      </tr>
      <tr>
        <td><b>/documents</b></td>
        <td><b>/d</b></td>
        <td><i>/[year]</i></td>
        <td>Competition Manual page.</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><b>/d/i</b><br/><b>/d/a</b><br/><b>/d/g</b><br/><b>/d/r</b><br/><b>/d/t</b></td>
        <td>&nbsp;</td>
        <td><b>I</b>ntroduction,<br/><b>A</b>rena,<br/><b>G</b>ame,<br/><b>R</b>obot or<br/>
          <b>T</b>ournament section of the Competition Manual.</td>
      </tr>
      <tr>
        <td><b>/updates</b></td>
        <td><b>/u</b></td>
        <td>&nbsp;</td>
        <td>Team Updates page.</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><b>/u</b></td>
        <td><i>/[number]</i></td>
        <td>given Team Update number.</td>
      </tr>
      <tr>
        <td><b>/blog</b></td>
        <td><b>/b</b></td>
        <td>&nbsp;</td>
        <td>Bill's Blog.</td>
      </tr>
      <tr>
        <td><b>/forums</b></td>
        <td><b>/f</b></td>
        <td>&nbsp;</td>
        <td>FIRST forums.</td>
      </tr>
      <tr>
        <td><b>/qa</b></td>
        <td><b>/q</b></td>
        <td>&nbsp;</td>
        <td>Q&amp;A forum.</td>
      </tr>
      <tr>
        <td><b>/news</b></td>
        <td><b>/n</b></td>
        <td>&nbsp;</td>
        <td>FRC news page. </td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <table>
      <tr>
        <td colspan='5'><b>FIRST Event Codes</b></td>
      </tr>
      <tr>
        <td>stx</td>
        <td>Alamo</td>
        <td>&nbsp;</td>
        <td>pa</td>
        <td>Philadelphia</td>
      </tr>
      <tr>
        <td>az</td>
        <td>Arizona</td>
        <td>&nbsp;</td>
        <td>pit</td>
        <td>Pittsburgh</td>
      </tr>
      <tr>
        <td>or</td>
        <td>Autodesk Oregon</td>
        <td>&nbsp;</td>
        <td>sac</td>
        <td>Sacramento</td>
      </tr>
      <tr>
        <td>nh</td>
        <td>BAE Granite State</td>
        <td>&nbsp;</td>
        <td>sdc</td>
        <td>San Diego</td>
      </tr>
      <tr>
        <td>la</td>
        <td>Bayou</td>
        <td>&nbsp;</td>
        <td>li</td>
        <td>SBPLI Long Island</td>
      </tr>
      <tr>
        <td>in</td>
        <td>Boilermaker</td>
        <td>&nbsp;</td>
        <td>wa2</td>
        <td>Seattle Cascade</td>
      </tr>
      <tr>
        <td>ma</td>
        <td>Boston</td>
        <td>&nbsp;</td>
        <td>wa</td>
        <td>Seattle Olympic</td>
      </tr>
      <tr>
        <td>oh</td>
        <td>Buckeye</td>
        <td>&nbsp;</td>
        <td>sj</td>
        <td>Silicon Valley</td>
      </tr>
      <tr>
        <td>md</td>
        <td>Chesapeake</td>
        <td>&nbsp;</td>
        <td>tn</td>
        <td>Smoky Mountain</td>
      </tr>
      <tr>
        <td>co</td>
        <td>Colorado</td>
        <td>&nbsp;</td>
        <td>mo</td>
        <td>St. Louis</td>
      </tr>
      <tr>
        <td>da</td>
        <td>Dallas</td>
        <td>&nbsp;</td>
        <td>ut</td>
        <td>Utah</td>
      </tr>
      <tr>
        <td>roc</td>
        <td>Finger Lakes</td>
        <td>&nbsp;</td>
        <td>va</td>
        <td>Virginia</td>
      </tr>
      <tr>
        <td>fl</td>
        <td>Florida</td>
        <td>&nbsp;</td>
        <td>dc</td>
        <td>Washington DC</td>
      </tr>
      <tr>
        <td>kc</td>
        <td>Greater Kansas City</td>
        <td>&nbsp;</td>
        <td>wat</td>
        <td>Waterloo</td>
      </tr>
      <tr>
        <td>on</td>
        <td>Greater Toronto East</td>
        <td>&nbsp;</td>
        <td>wi</td>
        <td>Wisconsin</td>
      </tr>
      <tr>
        <td>on2</td>
        <td>Greater Toronto West</td>
        <td>&nbsp;</td>
        <td>wor</td>
        <td>WPI</td>
      </tr>
      <tr>
        <td>hi</td>
        <td>Hawaii</td>
        <td>&nbsp;</td>
        <td>wc</td>
        <td>Ann Arbor MI District</td>
      </tr>
      <tr>
        <td>is</td>
        <td>Israel</td>
        <td>&nbsp;</td>
        <td>dt</td>
        <td>Detroit MI District</td>
      </tr>
      <tr>
        <td>dmn</td>
        <td>Lake Superior</td>
        <td>&nbsp;</td>
        <td>gg</td>
        <td>Kettering University MI District</td>
      </tr>
      <tr>
        <td>nv</td>
        <td>Las Vegas</td>
        <td>&nbsp;</td>
        <td>ww</td>
        <td>Livonia MI District</td>
      </tr>
      <tr>
        <td>tx</td>
        <td>Lone Star</td>
        <td>&nbsp;</td>
        <td>swm</td>
        <td>Niles MI District</td>
      </tr>
      <tr>
        <td>ca</td>
        <td>Los Angeles</td>
        <td>&nbsp;</td>
        <td>gt</td>
        <td>Traverse City MI District</td>
      </tr>
      <tr>
        <td>il</td>
        <td>Midwest</td>
        <td>&nbsp;</td>
        <td>oc</td>
        <td>Troy MI District</td>
      </tr>
      <tr>
        <td>mn</td>
        <td>Minnesota 10000 Lakes</td>
        <td>&nbsp;</td>
        <td>oc1</td>
        <td>Waterford MI District</td>
      </tr>
      <tr>
        <td>mn2</td>
        <td>Minnesota North Star</td>
        <td>&nbsp;</td>
        <td>mi</td>
        <td>West Michigan MI District</td>
      </tr>
      <tr>
        <td>nj</td>
        <td>New Jersey</td>
        <td>&nbsp;</td>
        <td>gl</td>
        <td>Michigan State Championship</td>
      </tr>
      <tr>
        <td>ny</td>
        <td>New York City</td>
        <td>&nbsp;</td>
        <td>cmp</td>
        <td>FIRST Championship</td>
      </tr>
      <tr>
        <td>nc</td>
        <td>North Carolina</td>
        <td>&nbsp;</td>
        <td>arc</td>
        <td>FIRST Championship - Archimedes Division</td>
      </tr>
      <tr>
        <td>ct</td>
        <td>Northeast Utilities Connecticut</td>
        <td>&nbsp;</td>
        <td>cur</td>
        <td>FIRST Championship - Curie Division</td>
      </tr>
      <tr>
        <td>ok</td>
        <td>Oklahoma</td>
        <td>&nbsp;</td>
        <td>gal</td>
        <td>FIRST Championship - Galileo Division</td>
      </tr>
      <tr>
        <td>sc</td>
        <td>Palmetto</td>
        <td>&nbsp;</td>
        <td>new</td>
        <td>FIRST Championship - Newton Division</td>
      </tr>
      <tr>
        <td>ga</td>
        <td>Peachtree</td>
        <td>&nbsp;</td>
        <td>ein</td>
        <td>FIRST Championship - Einstein Field</td>
      </tr>
    </table>
    <p><a href="mailto:admin@frclinks.com">Contact the webmaster</a></p>
  </body>
</html>
